.git/
.gitignore/
.github/
.idea/
.claude/

*.md
.editorconfig
.release-please-manifest.json
.yamlfmt
.yamllint

docs/
LICENSE
gocraftpng.png
egg-gocraft.json
release-please-config.json

world/
world_nether/
world_end/
logs/
data/
*.log
*.log.gz

ops.json
permissions.json
whitelist.json
banned-players.json
banned-ips.json
im.png

/gocraft
/gocraft-*
/*.exe
/protoc-gen-gocraft
miniserv/miniserv

plugins/
packs/

docker/
docker-compose.yml
.dockerignore

.DS_Store/
Thumbs.db
